/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* SCRIPTHEADING */
.scriptheading {
  padding-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.darkback {
  background-color: #777;
}

/* SCRIPTBODY */
.scriptbody {
  color: black;
}

.buttonrow .btn {
  margin-right: 40px;
}

footer {
  padding-top: 25px;
  color: #5a5a5a;
}