<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Bereket Abraham">
  <link rel="shortcut icon" href="#">

  <title>Console 4 Admins: Python</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/static/homepage.css">
</head>

<body>

  <div id="header">
    {% block header %}{% end %}
  </div>

  <div id="content">
    {% block content %}{% end %}
  </div>

  <div class="container">
    <footer>
      {% block footer %}{% end %}
      <p class="pull-right"><a href="#">Back to top</a></p>
    </footer>
  </div>

  <!-- JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
