{% extends "base.html" %}

{% block header %}
<div class="well">
	<h1>{{ fields["title"] }}</h1>
	<h4>{{ fields["description"] }}</h4>

	{% if fields.has_key("wiki") %}
	<a href="{{ fields['wiki'] }}" target="_blank"><h4>Wiki page</h4></a>
	{% end %}
</div>
{% end %}

{% block content %}
<div class="container scriptbody">

	<form action="{{ fields['link'] }}" method="post">
		{% for param in fields["params"] %}
		<div class="row">
			<p>
				<div class="alert alert-info">
					<strong>{{ param['label'] }}</strong>
				</div>
				<br />
				
				<input name="{{ param['key'] }}" type={{ "param['type']" }} 
					{% if param.has_key("value") %}
					value="{{ param['value'] }}"
					{% end %}
				/>
			</p>
		</div>
		{% end %}

		<br />
		<input type="checkbox" name="show_code" value="Y">Show python code
		<br />
		<input type="checkbox" name="text_only" value="Y">Text only (faster)

		<br />
		<br />
		Username: <input name="username" type="text" />
    	Password: <input name="password" type="password" />
    	Environment: 
    	<select name="environment_user">
			<option value="prod">Production</option>
			<option value="sand">Sandbox</option>
			<option value="ctest" selected="selected">Client Testing</option>
		</select>
    	<br />
    	
    	<h3>Or</h3>
    	Authentication Token: <input name="token" type="text" />
    	Environment: 
    	<select name="environment_token">
			<option value="prod">Production</option>
			<option value="sand">Sandbox</option>
			<option value="ctest" selected="selected">Client Testing</option>
		</select>
		<br />
		<p>
			<div style="float:right;">
				<a href="/scripts" class="btn btn-lg btn-danger" style="margin-right:30px;margin-top:30px;">Back</a>
				<input value="Reset Fields" type="reset" class="btn btn-lg btn-danger" style="margin-right:30px;margin-top:30px;"/>
				<input value="Run!" type="submit" class="btn btn-lg btn-success" style="margin-right:30px;margin-top:30px;"/>
			</div>
		</p>
	</form>
</div>
{% end %}


{% block footer %}{% end %}
